name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    # Hash-pinning (Sikkerhed mod supply chain attacks)
    - uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808
      with:
        name: java-app
        path: target/*.jar